<h1>Articles#index</h1>
<%# debug %>
<%= render_menu %>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article["title"], article_path(id: article["id"]) %>
    </li>
  <% end %>
</ul>
